<div id="lc_chat_layout">
  <div id="lc_chat_header">
    <span id="lc_chat_title" style="color:#ffffff;font:bold;font-family:Calibri">Live Chat Conversation</span>
  </div>
  <div id="lc_chat_container">
    <div #divChatWindow id="lc_chat_message_window">
      <h2>About Me</h2>
      <h5>Title description, Dec 7, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit,</p>
    </div>
  </div> 
</div>
