* {
  box-sizing: border-box;
}

body {
  font-family: Calibri;
  padding: 10px;
  background: #f1f1f1;
}

.bg {
  background-image: url("../images/Career.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header/Blog Title */
.header {
  text-align: center;
  background: black !important; 
  height: 40px;
}

  .header p {
    font-size: 30px;
    font-style: italic;
    margin-top: -20px;
    color: #f1f1f1;
  }

.singlecolumn { 
  float: none;
  width: 100%; 
}

/* Create two unequal columns that floats next to each other 
/* Left column */
.leftcolumn {
  float: left;
  width: 25%; 
}

/* Right column */
.rightcolumn {
  float: left;
  width: 75%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: transparent;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: black;
  margin-top: 20px;
  color: #f1f1f1;
  font-family: 'latoregular';
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
} 
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
 
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
 
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
   
    .header a.logo {
      font-size: 25px;
      font-weight: bold;
    }
