html {
  height: 100%;
}

#lc_chat_layout {
  display: block;
  text-align: left !important;
  box-sizing: border-box;
  word-break: break-word;
  word-wrap: break-word;
  overflow: hidden !important;
  border-radius: 10px;
  border: outset #000000 !important;
  width: 95%;
  margin-left: 45px;
 /* width: 75%;
  margin: 0 auto;*/
  border-bottom: outset #000000 !important;
}

  #lc_chat_layout #lc_chat_header {
    display: block;
    width: 100%;
    height: 43px;
    padding: 10px;
    cursor: pointer;
    color: white;
    background: #ed3e3e;
    border-top: outset #ed3e3e !important;
    border-left: outset #ed3e3e !important;
    border-right: outset #ed3e3e !important;
  }


    #lc_chat_layout #lc_chat_header #lc_chat_title {
      color: #ffffff;
      font: bold;
      font-family: Calibri;
    }

  #lc_chat_layout #lc_chat_container {
    min-height: 325px;
    text-align: left;
    background-color: hsla(0,0%,100%,.9) !important;
    /*border-top: outset #000000 !important;
    border-left: outset #000000 !important;
    border-right: outset #000000 !important;*/
  }

    #lc_chat_layout #lc_chat_container #lc_chat_message_window {
      width: auto;
      padding-bottom: 250px;
      max-height: 325px;
      overflow-y: scroll;
      scrollbar-base-color: ActiveBorder
    }


.textarea-container {
  position: relative;
  background-color: transparent;
}

  .textarea-container textarea {
    font-family: Calibri;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    height: 100%;
    resize: none !important;
    text-align: left !important;
    direction: ltr !important;
    resize: none;
    min-height: 70px;
    background-color: white;
    margin-bottom: -5px;
    /*border-top: outset #000000 !important;
    border-left: outset #000000 !important;
    border-right: outset #000000 !important;*/
  }


textarea:focus, select:focus {
  border-color: none !important;
  outline: 0;
  padding: .6rem 1.0rem;
}

.textarea-container button {
  background-color: transparent !important;
  border-color: transparent !important;
  outline: none !important;
  position: relative;
  float: right !important;
  color: #7373cd;
  margin-top: -50px;
}

.fa-microphone:before {
  content: "\f130";
}

.fa-microphone-alt:before {
  content: "\f3c9";
  -webkit-animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {

  50% {
    color: #d59393;
  }

  100% {
    color: #da3b3b;
  }
}

.message {
  border-radius: 10px;
  margin: 0 15px 10px;
  padding: 15px 20px;
  position: relative;
  font-family: Calibri;
  font-weight: bold;
}

  .message.to {
    background-color: #9bc8f1 !important;
    color: #000000 !important;
    margin-left: 30% !important;
    text-align: right !important;
  }

    .message.to img {
      border-radius: 50%;
    }

  .message.from {
    background-color: #ecbc4f !important;
    color: #0f0f0f !important;
    margin-right: 40px !important;
    display: block !important;
    line-height: normal !important;
    margin-top: 3px !important;
    width: 75% !important;
    overflow: auto !important;
  }

    .message.to + .message.to,
    .message.from + .message.from {
      margin-top: -10px !important;
    }

    .message.from .chips {
      margin-left: -10px !important;
    }

.timestamp {
  font-size: 0.7em;
  float: right;
  font-weight: normal;
}

.avatar {
  width: 30px;
  margin-right: 10px;
  float: left;
  margin-top: -5px !important;
}

.suggestion {
  margin-top: 10px !important;
  float: left !important;
  margin-left: 10px !important;
  padding: 10px !important;
  border: 1.5px solid rgba(0,0,0,0.2) !important;
  border-radius: 50px !important;
  cursor: pointer !important;
  min-width: 50px !important;
  text-align: center !important;
  font-weight: bolder !important;
  font-family: cursive;
  background-color: #3d793d !important;
  color: #f5f5f5 !important;
  border-color: black !important;
}

  .suggestion:active {
    color: rgba(0,0,0,1) !important;
  }

  .suggestion:hover {
    color: #000000 !important;
    border: 1.5px solid #000000 !important;
  }
