
<div id="lc_chat_layout">
  <div id="lc_chat_header" style="background:#ed3e3e">
    <span id="lc_chat_title" style="color:#ffffff;font:bold;font-family:Calibri">Live Chat Conversation</span>
  </div>
  <div id="lc_chat_container">
    <div #divChatWindow id="lc_chat_message_window">
      <br />
      <ng-container *ngFor="let message of messages | async">
        <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                  'to':   message.sentBy === 'user' }">
          <img [src]="message.avatar" class="avatar" />
          {{ message.content }}
          <br />
          <span class="timestamp">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            {{message.timestamp | date : 'h:mm:ss a' }}
          </span>
        </div>
      </ng-container>
    </div>
    <div class="textarea-container">
      <textarea [(ngModel)]="formValue" (keyup.enter)="sendMessage()"></textarea>
      <input type="hidden" [(ngModel)]="agentName" />
      <button [ngClass]="getMicStyle()" (click)="toggleVoiceRecognition()" style="outline:none !important" aria-hidden="true"></button>
    </div>
  </div>
</div>
